body {
    font-family:Courier;
    text-align:center;
    }

p { 
    color: rgb(237, 190, 202);
    font-size: 14px;
}

.collage-container{
    display:flex; 
    align-items: center; 
    justify-content: center; 
    margin: 50px;
}

.collage{
    display: grid;
    grid-template-rows: repeat(4, 250px);
    grid-template-columns: repeat(6, 187.5px);
}

/*I don't really know what this code does because I just googled around and tried things from various reddit questions*/
/*I am targeting the specific image with this class, not the item (in my code, are the item and image linked?? confusion)*/
/*first four lines are what allowed me to actually achieve the resizing! grid-column instructions without these didn't work*/
.collage__img--1{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;      
}

/*this code works for actual size (two grid boxes)*/
.collage__img--2{
    width: 200%;
    height: 200%;
    display: block;
    object-fit: cover;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;      
}


/*for triple the size it looks like I need to code the collage item first like this, then the image separately underneath...*/
/*notice that the ITEM is at 300% but the img is at 100%*/
/*dunno why this works... do I need both these bits?? */
.collage__item--3{
    width: 300%;
    height: 300%;
    display: block;
    object-fit: cover;
    grid-column-start: 4;
}

.collage__img--3{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    grid-column-start: 4;
}

/*again I had to write the item and then the img inside it for the last two*/
.collage__item--4{
    width: 200%;
    height: 200%;
    display: block;
    object-fit: cover;
    grid-column-start: 3;
    grid-row-start: 2;     
}
.collage__img--4{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    grid-column-start: 3;
    grid-row-start: 2;     
}

.collage__item--5{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    grid-column-start: 1;
    grid-row-start: 4;     
}
.collage__img--5{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    grid-column-start: 1;
    grid-row-start: 4;     
}


.slideshow-container{
    width:375px;
    height: 500px;
    margin: auto;
}

.slides {
    display: flex;
    width:100%;
    overflow: hidden;

}

.Current_Slide_Container{
    display:flex; 
    align-items: center; 
    justify-content: center;
    border: 3px; 
    margin: 50px;

}