body {
    font-family:Courier;
    text-align:center;
    }
p { 
    color: rgb(237, 190, 202);
    font-size: 14px;
    }
.collage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 5vw);

}
.collage_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



