body {
    font-family:Courier;
    text-align:center;
    }
p { 
    color: rgb(237, 190, 202);
    font-size: 14px;
}
.collage-container{
    display:flex; 
    align-items: center; 
    justify-content: center; 
}

.collage{
    display: grid;
    grid-template-rows: repeat(3, 500px);
    grid-template-columns: repeat(3, 375px);
}
/*It was really hard to target each picture!*/
/* Here I have targeted the first image with its own class name and used span to place it accurately*/
/* grid-column: 1 / span 2 places the picture correct size and placement, should I need to go back lol*/
.collage__img--1{
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}


