body {
    font-family:Courier;
    text-align:center;
    }
p { 
    color: rgb(237, 190, 202);
    font-size: 14px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



