body {
    font-family:Courier;
    text-align:center;
    }
p { 
    color: rgb(237, 190, 202);
    font-size: 14px;
}
.collage-container{
    display:flex; 
    align-items: center; 
    justify-content: center; 
}

.collage{
    display: grid;
    grid-template-rows: repeat(4, 250px);
    grid-template-columns: repeat(6, 187.5px);
}
/*It was really hard to target each picture!*/
/* Still not sure whether to use item or img tag... neither seems to resize the image in the grid. */
/* grid-column: 1 / span 2 places the picture correct size and placement, should I need to go back lol*/
/*this is not executing... I am trying to place the image on the grid lines so that it is half size, correct ratios*/
.collage__img--1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
       
}



