body {
    font-family:Courier;
    text-align:center;
}

		.slideshow-container
        {
            width: 375px;
            height: 500px;
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
       
        .image-container
        {
            width: 1125px;
            height: 500px;
            position: relative;
           
            -webkit-transition: left 0.5s;
            -moz-transition: left 0.5s;
            -o-transition: left 0.5s;
            transition: left 0.5s;
        }
       
        .slideshow-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
       
        #slideshow-image-1:target ~ .image-container
        {
            left: 0px;
        }
       
        #slideshow-image-2:target ~ .image-container
        {
            left: -375px;
        }
       
        #slideshow-image-3:target ~ .image-container
        {
            left: -750px;
        }
       
        .button-container
        {
            position: relative;
            top: -50px;
        }
       
        .slideshow-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: black;
        }




